[core]
	editor = nvim
	pager = delta
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[diff]
	algorithm = histogram
	renames = true
[push]
	followTags = true
[rerere]
	enabled = true
	autoupdate = true
[interactive]
	diffFilter = delta --color-only --features=interactive
[commit]
	gpgsign = true
	verbose = true
[init]
	defaultBranch = master
[alias]
	lol = log --oneline --graph --decorate
	st = status
	csm = commit -S -m
	csa = commit -S --amend --no-edit
	csam = commit -S --amend -m
	bd = branch -d
	bD = branch -D
	cb = checkout -b
	c = checkout
	ri = rebase --autostash -i
	ds = diff --staged
	dw = diff -w
	dsw = diff --staged -w
	sur = submodule update --recursive
	pp = pull --prune
	fop = fetch origin --prune
	r = rebase --autostash
	rc = rebase --continue
	mff = merge --ff-only
[user]
	signingkey = 3745C3E42DA9F1D2
	email = contact@khtangent.com
	name = KHTangent
[delta]
	features = decorations
	line-numbers = true
	tabs = 4
	side-by-side
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
