[alias]
	lol = log --oneline --decorate --graph
	st = status
	csm = commit -S -m
	csa = commit -S --amend --no-edit
	csam = commit -S --amend -m
	bd = branch -d
	cb = checkout -b
	c = checkout
	ri = rebase -i
[user]
	signingkey = 3745C3E42DA9F1D2
	email = contact@khtangent.com
	name = KHTangent
[commit]
	gpgsign = true
[init]
	defaultBranch = master
