[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only --features=interactive
[alias]
	lol = log --oneline --graph --decorate
	st = status
	csm = commit -S -m
	csa = commit -S --amend --no-edit
	csam = commit -S --amend -m
	bd = branch -d
	cb = checkout -b
	c = checkout
	ri = rebase --autostash -i
	ds = diff --staged
	sur = submodule update --recursive
	pp = pull --prune
	fop = fetch origin --prune
	r = rebase --autostash
	rc = rebase --continue
[user]
	signingkey = 3745C3E42DA9F1D2
	email = contact@khtangent.com
	name = KHTangent
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[delta]
	features = decorations
	line-numbers = true
	tabs = 4
	side-by-side
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
